node_modules
.DS_Store
.next
out
dist
build
.env
.env*.local
*.log
*.tsbuildinfo
prisma/*.db*
uploads/*
!uploads/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/score-applications/
public/uploads/score-applications/*
!public/uploads/score-applications/.gitkeep
